<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Hello world</h2>
    <div sec:authorize="isAuthenticated()">
        <p>Welcome, <a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.username}"></a></p>
        <p><a href="/logout">Sign out</a></p>
    </div>
    <div sec:authorize="isAnonymous()">
        <p><a href="/login">Sign in</a></p>
    </div>

    <h4>Threads</h4>
    <tr th:each="thread : ${threads}">
        <li>
            <a th:href="@{/{ti}/(ti=${thread.url})}" th:text="${thread.name}"></a>
        </li>
    </tr>
    <br>
    <p><a href="/new_thread">Open new thread</a></p>

</body>
</html>