<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Sign in</h1>
    <div th:if="${param.error}"><p class="text-danger">Invalid username or password</p></div>
    <div th:if="${param.logout}"><p class="text-dark">You have been logged out</p></div>
    <form action="/login" method="post">
        <input type="text" id="inputUsername" name="username" placeholder="Username" required>
        <br>
        <input type="password" id="inputPassword" name="password" placeholder="Password" required>
        <button type="submit">Sign in</button>
    </form>
    <p><a href="/users/new_user">Sign up</a></p>
</body>
</html>