<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
    <h2>Opening new thread</h2>
    <div th:if="${urlTakenError}" th:text="${urlTakenError}" role="alert"></div>
    <div th:if="${nameTakenError}" th:text="${nameTakenError}" role="alert"></div>
    <div th:if="${successMessage}" th:text="${successMessage}" role="alert"></div>
    <form action="/new_thread" method="post" th:object="${thread}">
        <input id="inputName" name="name" type="text" placeholder="Thread name" th:text="${name}" required>
        <br>
        <input id="inputUrl" name="url" type="text" placeholder="Url of the thread" th:text="${initial}" required>
        <br>
        <input id="inputDescription" name="description" type="text" placeholder="Description" th:text="${description}">
        <br>
        <button type="submit">Open</button>
    </form>
    <br>
    <p><a href="/">Return to home</a></p>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Bootstrap CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- Popper.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

</body>
</html>