<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p><a href="/">Home</a></p>
    <h2 th:text="'Posts in ' + ${thread.name}"></h2>
    <p th:text="${thread.description}"></p>
    <tr th:each="post : ${posts}">
        <li>
            <a th:text="${post.title}" th:href="@{posts/{id}(id=${post.id})}"></a>
            <span th:text="'[vote: ' + ${post.vote} + ']'"></span>
        </li>
    </tr>
    <br>
    <p><a th:href="@{new_post}">Add new post</a></p>
    <p><a th:href="@{/{id}/settings(id=${thread.url})}">Thread settings</a></p>
</body>
</html>