<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p><a th:href="@{/{t}/posts(t=${thread.url})}" th:text="'/' + ${thread.url}"></a></p>
    <h2 th:text="${post.title}"></h2>
    <a th:text="${post.user.name}" th:href="@{/users/{id}(id=${post.user.id})}"></a>
    <p th:text="${post.body}"></p>
    <br>
    <form th:action="@{/{ti}/posts/{id}/edit(id=${post.id},ti=${thread.url})}" method="get">
        <button type="submit">Edit this post</button>
    </form>
    <form th:action="@{/{ti}/posts/{id}/delete(id=${post.id},ti=${thread.url})}" method="post">
        <button type="submit">Delete this post</button>
    </form>

    <h3>Comments</h3>
    <div th:if="${successMessage}" th:text="${successMessage}"></div>
    <div th:if="${failMessage}" th:text="${failMessage}"></div>
    <tr th:each="comment : ${comments}">
        <p th:if="${comment.user == null}" style="font-weight: bold" th:text="Anonymous + ' (' + ${comment?.ip} + ')'"></p>
        <p th:unless="${comment.user == null}" style="font-weight: bold" th:text="${comment.user?.name}"></p>

        <p th:text="${comment.message}"></p>
<!--        <form th:action="@{/posts/{postId}/comments/{commentId}/edit(postId=${comment.post.id},commentId=${comment.id})}" method="get">-->
<!--            <button type="submit">Edit</button>-->
<!--        </form>-->
        <form th:action="@{/posts/{postId}/comments/{commentId}/delete(postId=${comment.post.id},commentId=${comment.id})}" method="post">
            <input type="password" id="inputPassword_delete" name="password" placeholder="Password" th:object="${password}" required>
            <button type="submit">Delete</button>
        </form>
        <br>
    </tr>
    <h4>Add comment</h4>
    <form th:action="@{/posts/{postId}/new_comment(postId=${post.id})}" method="post" th:object="${comment}">
        <input type="text" id="inputMessage" name="message" placeholder="Message" th:object="${message}" required>
        <input type="password" id="inputPassword" name="password" placeholder="Password" th:object="${password}" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>