<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div id="navbar">
        <nav sec:authorize="isAnonymous()">
            <a th:if="${#httpServletRequest.requestURI == '/'}">Home</a>
            <a th:unless="${#httpServletRequest.requestURI == '/'}" href="/">Home</a>
            <a th:unless="${#httpServletRequest.requestURI == '/login'}" href="/login">Sign in</a>
            <a th:if="${#httpServletRequest.requestURI == '/login'}">Sign in</a>
        </nav>
        <nav sec:authorize="isAuthenticated()">
            <a th:if="${#httpServletRequest.requestURI == '/'}">Home</a>
            <a th:unless="${#httpServletRequest.requestURI == '/'}" href="/">Home</a>
            <a href="/logout">Sign out</a>
        </nav>
    </div>

    <div th:if="${successMessage}" th:text="${successMessage}"></div>
    <div th:if="${failMessage}" th:text="${failMessage}"></div>
    <div class="jumbotron">
        <div class="container">
            <h3><a th:href="@{/{t}/(t=${thread.url})}" th:text="${thread.name}"></a></h3>
        </div>
    </div>
    <div class="container">
        <h3 th:text="${post.title}"></h3>
        <span>[vote: </span>
        <span th:id="voteCount" th:text="${post.vote}"></span>
        <span>]</span>
        <button id="upVoteButton" type="button" class="btn btn-outline-success btn-sm" th:aria-pressed="${upVoted}" onclick="upVote()">upVote</button>
        <button id="downVoteButton" type="button" class="btn btn-outline-danger btn-sm" th:aria-pressed="${downVoted}" onclick="downVote()">downVote</button>

        <small th:if="${post.user == null}" th:text="' | Posted by Anonymous ' + ' (' + ${post.ip} + ')'"></small>
        <small th:unless="${post.user == null}"> | Posted by <a th:text="${post.user.username}" th:href="@{/users/{id}(id=${post.user.id})}"></a></small>
        <small th:text="' | ' + ${post.getFormattedDateTime()}"></small>
        <hr>
        <p th:text="${post.body}"></p>
        <br>
        <div th:if="${post.user == null}">
            <p><small><a th:href="@{/{ti}/posts/{id}/edit(id=${post.id},ti=${thread.url})}">Edit this post</a></small></p>
        </div>
        <div th:if="${post.user != null and currentUser != null and post.user.id == currentUser.id}">
            <p><small><a th:href="@{/{ti}/posts/{id}/edit(id=${post.id},ti=${thread.url})}">Edit this post</a></small></p>
        </div>

        <h6 th:if="${currentUser == null}">Comment as Anonymous</h6>
        <h6 th:unless="${currentUser == null}">Comment as <a th:href="@{/users/{id}(id=${currentUser.id})}" th:text="${currentUser.username}"></a></h6>

        <form onsubmit="addComment();return false;">
            <textarea class="comment-box" id="inputMessage" name="message" placeholder="Message" rows="3" cols="80" required></textarea>
            <br>
            <input sec:authorize="isAnonymous()" type="password" id="inputPassword" name="password" placeholder="Password" required>
            <br sec:authorize="isAnonymous()">
            <button class="btn btn-outline-primary btn-sm" type="submit">Comment</button>
        </form>

        <br>
        <h6 th:if="${allComments.size() == 1}">1 Comment</h6>
        <h6 th:unless="${allComments.size() == 1}" th:text="${allComments.size()} + ' Comments'"></h6>
        <hr>
        <article>
            <article th:each="comment : ${comments}">
                <div th:if="${comment.active}">
                    <span th:if="${comment.user == null}" style="font-weight: bold" th:text="Anonymous + ' (' + ${comment?.ip} + ')'"></span>
                    <span th:if="${comment.user != null}" style="font-weight: bold" th:text="${comment.user?.username}"></span>
                    <span th:text="${comment.getFormattedDateTime()}"></span>
                    <p th:text="${comment.message}"></p>

                    <div th:if="${comment.user == null}">
                        <form th:onsubmit="'deleteComment(\''+${comment.post.id}+'\',\''+${comment.id}+'\');return false;'">
                            <input th:id="'inputCommentPassword' + ${comment.id}" type="password" name="password" placeholder="Password" required>
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                    <div th:if="${comment.user != null and currentUser != null and comment.user.id == currentUser.id}">
                        <form th:onsubmit="'deleteComment(\''+${comment.post.id}+'\',\''+${comment.id}+'\');return false;'">
                            <button type="submit">Delete</button>
                        </form>
                    </div>

                    <p><a data-toggle="collapse" th:href="'#replyCollapse' + ${comment.id}" role="button" aria-expanded="false" th:aria-controls="'#replyCollapse' + ${comment.id}">
                        Reply
                    </a></p>
                    <form class="collapse" th:id="'replyCollapse' + ${comment.id}" th:onsubmit="'replyComment(\''+${comment.post.id}+'\',\''+${comment.id}+'\');return false;'">
                        <textarea class="comment-box" th:id="'inputReplyMessage' + ${comment.id}" th:form="'replyCollapse'+${comment.id}" name="message" placeholder="Message" rows="3" cols="80" required></textarea>
                        <br>
                        <input sec:authorize="isAnonymous()" th:id="'inputReplyPassword' + ${comment.id}" type="password" name="password" placeholder="Password" required>
                        <br sec:authorize="isAnonymous()">
                        <button type="submit">Reply</button>
                    </form>

                    <article th:each="subComment : ${comment.subComments}">↳
                        <div th:if="${subComment.active}" style="margin-left: 16px;">
                            <span th:if="${subComment.user == null}" style="font-weight: bold" th:text="Anonymous + ' (' + ${subComment?.ip} + ')'"></span>
                            <span th:if="${subComment.user != null}" style="font-weight: bold" th:text="${subComment.user?.username}"></span>
                            <span th:text="${subComment.getFormattedDateTime()}"></span>
                            <p th:text="${subComment.message}"></p>

                            <div th:if="${subComment.user == null}">
                                <form th:onsubmit="'deleteComment(\''+${subComment.post.id}+'\',\''+${subComment.id}+'\');return false;'">
                                    <input th:id="'inputCommentPassword'+${subComment.id}" type="password" name="password" placeholder="Password" required>
                                    <button type="submit">Delete</button>
                                </form>
                            </div>
                            <div th:if="${subComment.user != null and currentUser != null and subComment.user.id == currentUser.id}">
                                <form th:onsubmit="'deleteComment(\''+${subComment.post.id}+'\',\''+${subComment.id}+'\');return false;'">
                                    <button type="submit">Delete</button>
                                </form>
                            </div>
                            <hr>
                        </div>
                        <div th:unless="${subComment.active}" style="margin-left: 16px;">
                            <p>[Deleted comment]</p>
                            <hr>
                        </div>

                    </article>
                    <hr>
                </div>
                <div th:unless="${comment.active}">
                    <p>[Deleted comment]</p>
                    <hr>
                </div>
            </article>
        </article>
    </div>

    <script th:src="@{/js/commentManager.js}"></script>
    <script th:src="@{/js/PostVoteController.js}"></script>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Bootstrap CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- Popper.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
</body>
</html>