<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <div th:if="${successMessage}" th:text="${successMessage}"></div>
        <div th:if="${failMessage}" th:text="${failMessage}"></div>
        <h2>Change user name</h2>
        <form th:action="@{/users/{id}/changeUsername(id=${user.id})}" method="post" th:object="${user}">
            <input type="text" id="inputUsername" name="username" placeholder="Username" th:value="${user.username}" th:object="${name}" required>
            <br>
            <button type="submit">Save</button>
        </form>

        <h2>Change password</h2>
        <form th:action="@{/users/{id}/changePassword(id=${user.id})}" method="post">
            <input type="password" id="inputCurrentPassword" name="currentPassword" placeholder="Current password" th:object="${currentPassword}" required>
            <br>
            <input type="password" id="inputNewPassword" name="newPassword" placeholder="New password" th:object="${newPassword}" required>
            <br>
            <input type="password" id="inputRepeatPassword" name="repeatPassword" placeholder="Confirm new password" th:object="${repeatPassword}" required>
            <br>
            <button type="submit">Save</button>
        </form>
    </body>
</html>