<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <h2>User info</h2>
        <h3 th:text="${user.username}"></h3>
        <h4>Posts</h4>
        <tr th:each="post : ${posts}">
            <a th:text="${post.title}" th:href="@{/{thread}/posts/{id}(thread=${post.thread.url} ,id=${post.id})}"></a><br>
        </tr>
        <form th:action="@{/users/{id}/edit(id=${user.id})}" method="get">
            <button type="submit">Edit this user</button>
        </form>
        <form th:action="@{/users/{id}/delete(id=${user.id})}" method="post">
            <button type="submit">Delete this user</button>
        </form>
    </body>
</html>